
@font-face {
  font-family: 'wayfinder-cf', serif;
  src: 'https://use.typekit.net/tgu1yzm.css';

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');




$main_text: rgb(20, 19, 19);
$white: #FFFFFF;
$header__bg:#faebd7;
$wildCodeSchoolColor : #F76A6A;
$projectsColor :#d0f1f1;
$projectsColorDark :#d0e3e397;
$workColor:#ffd8e3;
$fontText : Poppins;
$font_title_project: Poppins;
$font_header : wayfinder-cf;
$font_weight_header: 700;
$font_weight_header_thin: 100;
$font_size_sections_header : 8rem;
$black :rgb(32, 32, 32);
$white: rgb(209, 209, 209);
$purple: #AE69EE;
$green:rgb(242, 255, 226);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style:none;

}
a{
  color: black;
  text-decoration: none;
  &:hover{
    cursor:pointer;
  }
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



p {
  font-family: $fontText;
}