@import '../../style.scss';
.hobbies{
  position: relative;
  background-color:$workColor;
  transform: translateY(140vh);
  width: 500%;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  box-sizing: border-box;

  &__panel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 0%;
    width: 100%;
    z-index: 100;
    &__photo{
      position: absolute;
      width: 30vh;
      height: auto;
      background-color: $black;
    }
    .photo1{
      z-index: 10;
      top: 60%;
      left: 40%;
    }
    .photo2{
      top: 10%;
      left: 10%;
    }
    .photo3{
      top: 30%;
      left: 25%;
    }
    .photo4{
      top: 60%;
      left: 80%;
    }
    .photo5{
      top: 5%;
      left: 60%;
    }
    .photo6{
      top: 48%;
      left: 110%;
    }
    &__sub{
      position: absolute;
      width: 30vw;
      height: auto;
      color: $white;
      font-size: 4rem;
      font-family: $font_header;
      font-weight: $font_weight_header_thin;
      z-index: 100;
    }
    .sub1{
      top: 40%;
      left: 45%;
    }
    .sub2{
      top: 20%;
      left: 75%;
    }
    &__title{
      font-size:$font_size_sections_header;
      opacity: 0;
      transform: translateY(300px);
      z-index: 100;
      font-family: $font_header;
      font-weight: $font_weight_header_thin;
    }
    
    &__stillScrolling{
      border:1px solid white;
      font-family: $font_header;
      font-weight: $font_weight_header;
      color: $white;
      border-radius: 200vw;
      font-size: 17vw;
      padding: 3vw  ;
      text-transform: uppercase;
      text-align: center;
      align-self: center;
    }
  }

}

@media all and (min-width:650px) {
  .hobbies{
    &__panel{
    z-index: 700;

      &__title{
    font-size: 9rem;
  }
  &__photo{
    position: absolute;
    top: 40%;
    left: 90%;
    width: 30vw;
    height: auto;
    background-color: transparent;
    // background-color: $black;

  }
    }
}
}
@media all and (min-width:800px) {
  .hobbies{
    &__panel{
    z-index: 700;

      &__title{
    font-size: 12rem;
  }
  &__sub{
    font-size: 6rem;
  }
}
  }}