@import '../../style.scss';
.projetCard{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 98vw;
  min-height: 50vh;
  height: auto;
  margin: 1rem 0;
  transform: translateY(100px);
  background-color:rgb(242, 255, 226);

  border-radius: 1rem;
  opacity: 0;
  font-family: $fontText;
  // &__id{
  //   position: absolute;
  //   top: -10px;
  //   left: -10px;
  //   padding: .2rem .5rem;
  //   background-color: $projectsColor;
  // }
  &__sparkle{
    position: absolute;
    width: 20vh;
    height: auto;
    top: -10%;
    right: 0;
  }
  a{
    position: relative;
    padding: .5rem;
      opacity: 1;
      color: rgb(79, 79, 79);
      z-index: 10;
  }
  h4{
   position: relative;
   text-align: center;
    font-size: 3rem;
    opacity: 1;
    font-family: $font_header_thin;
  }
 
  &__img{
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 1;
    border-radius: .5rem;
    margin: 1rem 0 0 0 ;
  }
  p{
    position: relative;
    padding: .5rem;
  }
 
  .stacks{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .stack{
      position: relative;
      font-size: .8rem;
      margin: .5rem ;
      padding: .3rem;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 5px;
      background-color: $projectsColorDark;
      font-family: $font_title_project;
    }
  }
 
}