@import '../../style.scss';

.workXp{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $projectsColor;
  transform: translateY(150vh);
  gap: 1rem;
  height: 350vh;
  z-index: 0;
  &__title{
  position: relative;
  top: 20rem;
  transform: translateX(100px);
  font-size: 6rem;
  opacity: 0;
  font-family: finder_thin;

  &:hover{
    text-decoration: line-through;
  }

  }
  
}