@import '../style.scss';

.header{
  position: absolute; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: $header__bg;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  color: $black;

  &__title{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 9.2rem;
  font-size:9rem;
  font-family: $font_header_title;
  overflow: hidden;
  // border: 1px solid black;
  &__letter{
    display: inline-block;
    line-height: 8.5rem;
    opacity: 1;
    top: 0;
  }
  } 
  &__description{
    position: relative;
    top: 50px;
    padding: .5rem;
    font-size: 3rem;
    font-family: finder_thin ;
    color: $main_text;
    opacity: 0;
    height: auto;
    // border: 1px solid black;
    
    span{
      position: relative;
      z-index: 2;
    } 
    &-alternance{
      position: relative;
      display: inline-block;

    }
   &-alternance::before{
      content: '';
      position:absolute;
      display: inline-block;
      bottom: 10%;
      width: 100%;
      height: 25%;
      transform: scaleX(0);
      border-radius: 100rem;
      background-color: $wildCodeSchoolColor ;
      z-index: -1;
      transform-origin: left;


    }
   
  
  }
}

@media all and (min-width: 560px) {
  .header{
    padding: 1rem 2rem;
    &__title{
      height: 16rem;
      font-size:14rem;
      &__letter{
        display: inline-block;
        opacity: 1;
        top: 0;
      }
      
    }
    &__description{
      position: relative;
      top:1rem;
      font-size: 3.4rem;
      width: 70%;
      align-self: flex-start;
    }
  }
}

@media all and (min-width: 1800px) {
  .header__description{
    font-size: 13rem;
  }

}